@charset "UTF-8";
/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .wrap header {
    width: 100%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    background-color: #efeff0;
    border-bottom: 1px solid #777;
    position: relative; }
    .wrap header .icon-sign {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../imgs/icon-sign.png") no-repeat center center;
      background-size: 0.53333rem;
      position: absolute;
      left: 0;
      top: 0; }
    .wrap header .icon-person {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../imgs/icon-person.png") no-repeat center center;
      background-size: 0.53333rem;
      position: absolute;
      right: 0;
      top: 0; }
    .wrap header .icon-back {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../imgs/icon-back.png") no-repeat center center;
      background-size: 0.58667rem;
      position: absolute;
      left: 0;
      top: 0; }
    .wrap header .title {
      margin-left: 1.17333rem; }
    .wrap header .search-wrap {
      margin: 0.13333rem 0.53333rem 0 1.17333rem;
      height: 0.90667rem;
      display: flex;
      background-color: #fff; }
      .wrap header .search-wrap .icon-search {
        width: 0.90667rem;
        height: 0.90667rem;
        background: url("../imgs/icon-search.png") no-repeat center center;
        background-size: 0.42667rem;
        border-right: 1px solid #efeff0; }
      .wrap header .search-wrap .ipt {
        flex: 1;
        padding: 0 0.26667rem; }
      .wrap header .search-wrap .search-btn {
        width: 1.17333rem;
        height: 0.90667rem;
        text-align: center;
        line-height: 0.90667rem;
        border-left: 1px solid #efeff0; }
    .wrap header .tab-wrap {
      width: 5.33333rem;
      height: 1.17333rem;
      margin: 0 auto;
      display: flex;
      font-size: 0.37333rem;
      position: relative; }
      .wrap header .tab-wrap .tab-item {
        flex: 1;
        text-align: center; }
        .wrap header .tab-wrap .tab-item.active {
          color: #ff6600; }
      .wrap header .tab-wrap .line {
        width: 2.66667rem;
        height: 0.05333rem;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s; }
        .wrap header .tab-wrap .line:before {
          content: '';
          width: 1.17333rem;
          height: 0.05333rem;
          margin: 0 auto;
          display: block;
          background-color: #ff6600; }
        .wrap header .tab-wrap .line.move {
          -webkit-transform: translateX(2.66667rem);
                  transform: translateX(2.66667rem); }
  .wrap .content {
    width: 100%;
    flex: 1;
    overflow: hidden; }
  .wrap .block {
    width: 100%;
    border-bottom: 0.26667rem solid #ddd; }
    .wrap .block .title {
      width: 100%;
      height: 1.17333rem;
      line-height: 1.17333rem;
      border-left: 0.16rem solid #ff6600;
      border-bottom: 1px solid #ddd;
      font-size: 0.48rem;
      padding-left: 0.26667rem; }

.none {
  display: none; }

.artical-con {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #f7eee5;
  padding: 0.26667rem;
  box-sizing: border-box; }
  .artical-con h1 {
    font-size: 0.8rem;
    font-weight: bold;
    color: #736357;
    line-height: 1.5;
    border-bottom: 1px solid #736357; }
  .artical-con p {
    text-indent: 2em;
    line-height: 1.5;
    color: #4e534f;
    font-size: 0.37333rem;
    margin-top: 0.26667rem; }

.set-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .set-wrap > div:nth-child(1) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .set-wrap .set-t {
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff; }
    .set-wrap .set-t .icon-circle-back {
      width: 1.6rem;
      height: 1.6rem;
      display: block;
      background: url("../imgs/icon-circle-back.png") no-repeat 0.4rem center;
      background-size: 0.53333rem;
      padding-left: 1.6rem; }
  .set-wrap .mask {
    width: 100%;
    flex: 1; }
  .set-wrap .set-b {
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9); }
    .set-wrap .set-b .chapter-set {
      width: 100%;
      padding: 0.53333rem 0.8rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fff; }
    .set-wrap .set-b .set-style {
      width: 100%;
      padding: 0.26667rem 0.8rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between; }
      .set-wrap .set-b .set-style dt {
        width: 1.17333rem;
        height: 1.17333rem; }
      .set-wrap .set-b .set-style dd {
        text-align: center; }
      .set-wrap .set-b .set-style .chapter-btn dt {
        background: url("../imgs/icon-chapter.png") no-repeat center center;
        background-size: 0.53333rem; }
      .set-wrap .set-b .set-style .font-btn dt {
        background: url("../imgs/icon-font.png") no-repeat center center;
        background-size: 0.53333rem; }
      .set-wrap .set-b .set-style .font-btn.active dt {
        background: url("../imgs/icon-font-active.png") no-repeat center center;
        background-size: 0.53333rem; }
      .set-wrap .set-b .set-style .day-btn dt {
        background: url("../imgs/icon-night.png") no-repeat center center;
        background-size: 0.53333rem; }
      .set-wrap .set-b .set-style .day-btn.light dt {
        background: url("../imgs/icon-light.png") no-repeat center center;
        background-size: 0.53333rem; }
      .set-wrap .set-b .set-style .download-btn dt {
        background: url("../imgs/icon-down.png") no-repeat center center;
        background-size: 0.53333rem; }
  .set-wrap .set-panel {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 0.26667rem;
    position: absolute;
    bottom: 2.13333rem;
    left: 0; }
    .set-wrap .set-panel > div {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0.26667rem 0; }
      .set-wrap .set-panel > div span {
        width: 2.13333rem;
        text-align: center;
        display: block; }
      .set-wrap .set-panel > div button {
        padding: 0.13333rem 1.06667rem;
        border: 1px solid #fff;
        border-radius: 0.53333rem;
        background-color: transparent;
        font-size: 0.37333rem;
        color: #fff;
        margin-right: 0.26667rem; }
      .set-wrap .set-panel > div .set-bg li {
        float: left;
        width: 0.90667rem;
        height: 0.90667rem;
        border-radius: 50%;
        margin-right: 0.26667rem;
        background-color: #f7eee5;
        position: relative; }
        .set-wrap .set-panel > div .set-bg li.active:before {
          content: '';
          width: 1.06667rem;
          height: 1.06667rem;
          border-radius: 50%;
          border: 0.02667rem solid red;
          position: absolute;
          left: -0.10667rem;
          top: -0.10667rem; }
        .set-wrap .set-panel > div .set-bg li:nth-child(2) {
          background-color: #e9dfc7; }
        .set-wrap .set-panel > div .set-bg li:nth-child(3) {
          background-color: #a4a4a4; }
        .set-wrap .set-panel > div .set-bg li:nth-child(4) {
          background-color: #cdefce; }
        .set-wrap .set-panel > div .set-bg li:nth-child(5) {
          background-color: #283548; }
        .set-wrap .set-panel > div .set-bg li:nth-child(6) {
          background-color: #0f1410; }
