@charset "UTF-8";
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
.type-tags {
  margin: 0.4rem; }
  .type-tags .tag {
    display: inline-block;
    line-height: 1.8;
    padding: 0 0.53333rem;
    color: #766d5d;
    border-radius: 0.10667rem;
    background-color: #e8f9db;
    font-size: 0.32rem;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 0.10667rem 0.26667rem 0; }
    .type-tags .tag:nth-child(3n+2) {
      background-color: #fcedda; }
    .type-tags .tag:nth-child(3n+1) {
      background-color: #fbebe8; }

.inner-content {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.list-content {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden; }

.search-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .search-list li:nth-child(1) a {
    padding: 0 0.4rem 0.4rem 0.4rem; }
  .search-list a {
    display: flex;
    padding: 0.4rem;
    border-bottom: 0.02667rem solid #f5f5f5; }
    .search-list a .book-cover {
      width: 2.66667rem;
      height: 3.73333rem;
      background-color: #eeece9;
      box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa;
      border: 0.02667rem solid #f0f0f0;
      border-bottom: none; }
      .search-list a .book-cover img {
        width: 100%;
        height: 100%; }
    .search-list a .book-info {
      flex: 1;
      margin-left: 0.26667rem; }
      .search-list a .book-info .title {
        font-size: 0.42667rem;
        color: #333;
        margin: 0.16rem 0; }
      .search-list a .book-info .author,
      .search-list a .book-info .newest {
        font-size: 0.37333rem;
        color: #555;
        line-height: 2; }
      .search-list a .book-info .summary {
        font-size: 0.37333rem;
        color: #555;
        margin-bottom: 0.16rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; }
