@import './_config.scss';
@import './_mixin.scss';
@import './_reset.scss';
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: pxTorem(44px);
        line-height: pxTorem(44px);
        background-color: $header-bg;
        border-bottom: 1px solid $header-line-bg;
        position: relative;
        .icon-sign {
            width: pxTorem(44px);
            height: pxTorem(44px);
            @include bg("../imgs/icon-sign.png");
            background-size: pxTorem(20px);
            position: absolute;
            left: 0;
            top: 0;
        }
        .icon-person {
            width: pxTorem(44px);
            height: pxTorem(44px);
            @include bg("../imgs/icon-person.png");
            background-size: pxTorem(20px);
            position: absolute;
            right: 0;
            top: 0;
        }
        .icon-back {
            width: pxTorem(44px);
            height: pxTorem(44px);
            @include bg("../imgs/icon-back.png");
            background-size: pxTorem(22px);
            position: absolute;
            left: 0;
            top: 0;
        }
        .title {
            margin-left: pxTorem(44px);
        }
        .search-wrap {
            margin: pxTorem(5px) pxTorem(20px) 0 pxTorem(44px);
            height: pxTorem(34px);
            display: flex;
            background-color: $write-color;
            .icon-search {
                width: pxTorem(34px);
                height: pxTorem(34px);
                @include bg("../imgs/icon-search.png");
                background-size: pxTorem(16px);
                border-right: 1px solid $header-bg;
            }
            .ipt {
                flex: 1;
                padding: 0 pxTorem(10px);
            }
            .search-btn {
                width: pxTorem(44px);
                height: pxTorem(34px);
                text-align: center;
                line-height: pxTorem(34px);
                border-left: 1px solid $header-bg;
            }
        }
        .tab-wrap {
            width: pxTorem(200px);
            height: pxTorem(44px);
            margin: 0 auto;
            display: flex;
            font-size: pxTorem($fz14);
            position: relative;
            .tab-item {
                flex: 1;
                text-align: center;
                &.active {
                    color: $tab-active-color;
                }
            }
            .line {
                width: pxTorem(100px);
                height: pxTorem(2px);
                position: absolute;
                bottom: 0;
                left: 0;
                transition: transform .5s;
                &:before {
                    content: '';
                    width: pxTorem(44px);
                    height: pxTorem(2px);
                    margin: 0 auto;
                    display: block;
                    background-color: $tab-active-color;
                }
                &.move {
                    transform: translateX(pxTorem(100px));
                }
            }
        }
    }
    .content {
        width: 100%;
        flex: 1;
        overflow: hidden;
    }
    .block {
        width: 100%;
        border-bottom: pxTorem(10px) solid $border-color;
        .title {
            width: 100%;
            height: pxTorem(44px);
            line-height: pxTorem(44px);
            border-left: pxTorem(6px) solid $tab-active-color;
            border-bottom: 1px solid $border-color;
            font-size: pxTorem(18px);
            padding-left: pxTorem(10px);
        }
    }
}

.none {
    display: none;
}